html {
    height: 100%;
    
}
body {
    min-height: 100%;
    border: solid 10px #9da888;

}
.body{
    font-family: 'Pompiere', cursive;

    background-color: white; 
    text-align: center;
    color: black;
    align-items: center;
}

.header{
    font-size: 10px;
    text-align: center;
    margin: 30px;
    font-family: 'Pompiere', cursive;

}
.form{
   
    position:relative;
    margin: auto;
    width:320px;
    height:270px;
    text-align: left;
}

#input{
    background-color:#9da888;
    border-color: #9da888;
    color: black;
    width: 90%;
}

.form-control{
    width: 50%;
    margin: auto;
    border: none;
}

.black-line{
    margin: auto;
    margin-top: 15px;
	border: 1px solid black;
    
    width: 80%;
}
img{
    margin-top: 20%;
    margin-left: 20%;
}
button{
    align-items: center;
    margin-top: 20px;
    display:block;
    border: none;
    background-color: none;
    background: none;

}

